 * {
            margin: 0;
            padding: 0;
            margin: 0 auto;
        }

        ul,li {
            list-style: none;
        }

        a{
            text-decoration: none;
            color: black;
        }


        #wrap{
            width: 1920px;
            margin: 0 auto;
        }
        #header{
            width: 1600px;
            height: 120px;
            border-bottom: 1px solid #ccc;
        }
        #logo{
            float: left;
        }
        #logo img{
            width: 130px;
            height: 130px;
            padding-top: 20px;
            float: left;
            box-sizing: border-box;
        }
        #nav ul{
            padding-top: 70px;
            display: flex;
        }
        #nav li a{
            font-size: 19px;
            font-weight: 900;
            color: #999;
        }
        /* content */
        #content{
            width: 1600px;
            margin-top: 20px;
        }
        #image{
            width: 100%;
            height: 600px;
            border: 1px solid #000;
            background-size: 100%;
            position: relative;
        }
        #image .imgs{
            width: 100%;
            height: 600px;
            overflow: hidden;
        }

        #image .imgs ul{
            width: 100%;
            position: relative;
        }
        #image .imgs li{
            width: 100%;
            position: absolute;
        }
        #image .imgs li .img1{
            top: 0;
            left: 0;
            background: url(./img/iu.jpeg) no-repeat -30px;
        }
        #image .imgs li .img2{
            top: 0;
            left: 100%;
            background: url(./img/iuu.jpeg) no-repeat -30px;
        }
        #image .imgs li .img3{
            top: 0;
            left: 200%;
            background: url(./img/iuuu.jpeg) no-repeat -30px;
        }
        /* footer */
        #footer{
            width: 1600px;
            height: 155px;
            display: flex;
            align-items: center;
            background-color: #888;
        }
        #endLogo{
            width: 150px;
            float: left;
            margin-left: 70px;
        }
        #endLogo img{
            width: 130px;
            height: 130px;
        }

        #endAbout{
            width: 1050px;
            display: flex;
            flex-direction: column;       
        }
        #endAbout .address{
            margin-left: 50px;
            color: #fff;
        }
        #endAbout .aboutUl{
            float: left;
        }
        #endAbout ul{
            display: flex;
            margin-left: 50px;
            padding-bottom: 30px;
        }
        #endAbout ul li{
            margin-right: 15px;
            
        }
        #endAbout ul li a{
            font-weight: 600;
            text-decoration-line: underline;
            color: #fff;
        }

        #endSNS{
            width: 400px;
            height: 100%;
        }

        #endSNS ul{
            display: flex;
            margin-top: 60px;
        }
        #endSNS ul li{
            width: 32px;
            height: 33px;
            border: 1px solid #000;
            border-radius: 50%;
        }